@import "tailwindcss";

.pro-card:hover {
  background-color: rgb(238, 228, 228);
  transition: all 0.3s ease;
}

.optionBtn:hover {
  background-color: gray;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.addBtn:hover {
  background-color: rgb(9, 9, 189);
  transition: all 0.3s ease;
}

@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
  }
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .fade-in.visible {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}
